@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello<strong> @User.Identity.Name</strong> </h1>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p class="mt-5">
        <a asp-controller="Quests" asp-action="Index" class="btn btn-primary btn-lg">Quests</a>
    </p>
}
